/*Este es un archivo .css
Selector = Nombre de las etiquetas HTML
Declaracion = Todo lo que va dentro de los corchetes
Propiedad = Propiedad de cada etiqueta de HTML
Valores = El valor que se le asigna a cada propiedad
*/

.header{ /*Este es un selector de etiqueta = Por el nombre de la etiqueta HTML */
    background: #141414;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.header-logo{
    margin: 0 0;
    display: flex;
    align-items: center;
}
.header img{
    vertical-align: middle;
}

.header-menu{
    width: 50%;
    height: inherit;
}
.header-menu ol{ /*Este es un selector descendente = Por todos los hijos que tiene la ruta */
    /* background: white; */
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: space-between;
    padding: 0;
    margin: 0px auto;
    width: 100%;
}
.header-menu ol li{
    height: inherit;
    width: inherit;
}
.header-menu ol li a{
    height: inherit;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

/*.link -> Este es un selector de clase*/
/* #portafolio -> Selector de id*/

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase;
    font-weight: 800;
}

ol{
    list-style: none;
}


h1{
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0;
}

.hero{
    height: 400px;
    background-color: #FFF8B4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hero-container h1{
    margin-left: 25px;
    width: 50%;
}
.hero-image{
    object-fit: cover;
}

.hero h1 strong{
    font-weight: bolder;
}

.portfolio-elementsProject{
    border: 1px gray solid;
    border-radius: 10px;
    margin: 10px auto;
    background: white;
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    align-items: center;
    justify-content: space-between ;
}
.portfolio-elementsProject-title{
    font-size: 35px;
}
.portfolio-elementsProject-details{
    width: 50%;
}
.project-imageContainer{
    width: 50%;
    margin: 0;
    text-align: center;
}
.project-imageContainer img{
    width: 70%;
}
.fa{
    margin-left: 25px;
}

.portfolio{
    background: #FAFAFA;
    padding: 20px;
}

.portfolio-elements{
    display: flex;
    flex-shrink: 40;
    flex-wrap: wrap;
}

.flexbox{
    display: flex;
    flex-wrap: wrap; /* Permite que un elemento caiga */
    /* flex-direction: column; */
}
.box{
    width: 200px;
    height: 200px;
    border: black 1px solid;
    flex-shrink: 0; /* Nivel de encogimiento de los hijos con display flex */
    margin: 15px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    color: white;
}
.footer p{
    margin: 16px 0px 16px 10px;
}
.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
    margin: 16px 16px 16px 0px;
}

.certificate{

    padding: 20px;
}
.certificate-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.certificate-element{
    width: 47.5%;
    margin: 1%;
    border: 1px solid #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #1d1d1d;
}
.certificate-element h3{
    margin: 0;
}
.certificate-imageDiploma{
    height: 270px;
    width: 100%;
    object-fit: cover;
}
.certificate-imageContainer{
    margin: 5px;
}
.certificate-detail{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: -50px;
    position: relative;
    padding: 10px;
    margin: -40px 20px 20px 20px;
    text-align: center;
    width: 50%;
}
.certificate-link{
    border: 1px #141414 solid;
    padding: 5px 20px;
    color: #141414;
    text-decoration: none;
    border-radius: 15px;
}

.contact{
    background-color: #056fff;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-email input{
    border-color: gray;
    padding: 5px 25px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAP1BMVEX///9UbnqwvsWptrx7j5n3+Pnn6+zFztJ5jJdheoVWcX2Wp65ac4Dk6Oq3wsf6+vujsbhxhpDd4+XS2dy6xMkRydyaAAAB+UlEQVR4nO3a25KCMBAE0LCKEMItuP//rQtKgFysjWCmsWrmTaukD0nMUwuxTF6oUtZZ4qllqYpc+HNTybM3CnVz4ru+ooufpuo76/U1bfw0erMIg6TPzzI5LO8PyR8F8xp0gPV/jn6egx6Vn2X9YwPW86/bxjqbKaZr2nXFq2kTlPlU/6YON9Mu76zG+8/cP9WdKl+IuxHUuSgMpqXLH9fApBbLDmjKfCH0sgclYgHWJSiFuYQaWkAzx0phjkPy/589nTn6wpwG2nyx5jKAAQw4LeDnw8MABjDg+wCphwEMYMD5AfCLiAEMYAAckHoYwAAGnB9w9KJhAAMY8P2A1MMABjCAAQxgAAPOAwAVGPI5tsJXOOAlFniNB15kwla5qhxfZqOu8+VenS++0HgN1YFjfxycR6HxjUpnSHAkX8/Piy+1BgQH8uVS7I2v9fqCA/nD+pT4YrMn2J2vrXZ3fLXbFeyMd6rd0yKoSIIj2BXvl9unyQt1lREKW/BudiWv4Xr/f3N5ITBf7njkZwR0gBcCQkBYQAkICkgBIQEtICAgBvgCaoAnIAe4AnqAIwAAbAECYAkggK0AAwgIiAG+gBrgCcgBroAe4AgAAFuAAFgCCGArwAA2AhBgFaAAiwAGMAIcYBYAAU8BEvAQQAGTAAsYBWCAuOz94R/IESL0zrB3cgAAAABJRU5ErkJggg==);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    border-radius: 5px;
    border-style: solid;
}
.form-email{
    margin: 0px 15px;
}
.form-email button{
    border-radius: 10px;
    display: block;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    margin-left: 0;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.social-link.twitter{
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/twitter-1722376-1466162.png);
    background-size: 50px 50px;
}

.social-link.instagram{
    background-image: url(https://cdn.icon-icons.com/icons2/1753/PNG/128/iconfinder-social-media-applications-3instagram-4102579_113804.png);
    background-size: 50px 50px;
}
.container{
    /* border: 1px red solid; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

/* Desktop first que empieces desde el MQ mas grande */

@media screen and (max-width: 1024px){ 
    .container{
        padding: 1em;
    }
}

@media screen and (max-width: 767px){ 
    .header{
        display: block;
        height: auto;
    }
    .header-menu{
        width: 100%;
    }
    .header-menu ol{
        display: block;
        margin: 0;
    }
    .header-menu ol li{
        height: 45px;
    }
    .header a{
        justify-content: center;
    }
    .header-logo{
        display: flex;
        justify-content: center;
        margin-left: -40px;
    }

    .portfolio-elementsProject{
        display: block;
    }

    .portfolio-elementsProject-details{
        width: auto;
        font-size: 16px;
    }
    .portfolio-elementsProject-title{
        font-size: 2em;
        margin: .4em 0;
    }
    .project-course{
        font-size: 1em;
        margin: .4em 0;
    }

    .project-imageContainer{
        width: auto;
    }
    .project-imageContainer img{
        max-width: 40%;
    }

    .certificate-element{
        width: 100%;
        flex-shrink: 1;
    }

}

@media screen and (max-width: 480px){ 
    .portfolio-elementsProject-details{
        font-size: 12px;
    }
    .certificate-detail{
        width: 75%;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        justify-content: center;
    }

    .form-email{
        text-align: center;
    }
    .form-email button{
        margin: 3% auto;
    }

    .footer{
        justify-content: center;
    }
}

@media screen and (max-width: 320px){ 
    body{
        /* border: green 15px solid; */
    }
}